# ignore DSstore files
**.DS_Store
# ignore .vscode folder
.vscode/
#ignore .vs folder
.vs/
#ignore the pychache files pyc
**.pyc
**.tfrecord
#ignore de data folder
data/
#ignore the figures folder
figures/
#ignore executables .exe
**.exe
#ignore build folder
build/
#ignore out folder
out/